.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 50px 10%; */
    background-color: #f9fafc;
    height: 94vh;
  }
  
  .home-section .content {
    max-width: 50%;
  }
  
  .home-section .sub-heading {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .home-section .heading {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  
  .home-section .highlight {
    color: #088395;
  }
  
  .home-section .description {
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
  }
  
  .home-section .cta-button {
    background-color: #f97316;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .home-section .gif-container {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-section .gif {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .home-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: auto; 
      padding: 30px 5%;
    }
  
    .home-section .content,
    .home-section .gif-container {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .home-section .heading {
      font-size: 36px;
    }
  
    .home-section .description {
      font-size: 16px;
    }
  
    .home-section .cta-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  